.nav-link{
  color:rgb(0, 0, 0);
  margin-top: 3rem;
 }
 .nav-link:hover{
  color:rgb(173, 57, 255);
  background-color:rgb(255, 219, 57);
  font-weight: bolder;
  border-radius: 0.5rem;
 }
 .nav-link:focus{
  color: black;
 }
 #btn1{
  background-color: rgb(173, 57, 255);
 }
 #btn2{
  color:rgb(173, 57, 255);
  background-color: rgb(255, 219, 57);
 }
 #img1 {
  position: relative;
  top: 0;
  left: 0;
}
#img2 {
  position: absolute;
  top: 3.5rem;
  left: 6rem;
  width:20rem;
  height: auto;
}